
 
 	body{ font-family: 'Roboto', sans-serif;
 		margin: 0;
 	}
 	
 	div{
   
    background-color: white;
    margin: 50px auto;
    width: 1200px;
    padding: 60px 50px;
    border-radius: 30px;
    box-shadow: 1px -5px 14px 11px; color: #3e3e33; 

}
 
iframe{
	margin: 0 auto; text-align: center;
}

h1{
    margin: auto;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 1500;
    color: #984cdf;

}

p {
	font-size: 22px;
    margin: auto;
    text-align: center;
    line-height: 2;
    font-weight:500;
}

}
